<form ng:submit="save()">
<fieldset>
<legend>Azienda</legend>
<div>
  <label>Codice: <input type=codiceAzienda ng:model="azienda._id" size=6 maxlength=6 required></label>
  <label>Tipo: <select ng:model="azienda.tipo"><option>MAGAZZINO<option>NEGOZIO</select></label>
  <label><input type=checkbox ng:model="azienda.inattivo">&nbsp;Inattivo</label><br>
  <label>Nome: <input ng:model="azienda.nome" required></label><br>
  <label>Indirizzo: <input ng:model="azienda.indirizzo" size=30></label><br>
  <label>Comune: <input ng:model="azienda.comune" size=30></label><br>
  <label>CAP: <input ng:model="azienda.cap" size=5 maxlength=5></label>
  <label>Provincia: <input ng:model="azienda.provincia" size=2 maxlength=2></label>
  <label>Nazione: <input ng:model="azienda.nazione" size=2 maxlength=2></label><br><br>
  <label>Versione listino: <input ng:model="azienda.versioneListino" size=2></label><br>
  <label>Codice magazzino: <input ng:model="azienda.codiceMagazzino" size=1 maxlength=1></label><br>
  <label>Note: <input ng:model="azienda.note" size=40></label><br><br>
  <label>Contatti:</label>
  [&nbsp;<a href="" ng:click="azienda.contatti.$add()">aggiungi</a>&nbsp;]
    <ul><li ng:repeat="contatto in azienda.contatti"><select ng:model="contatto.tipo"><option>Telefono<option>Fax<option>Mail</select><input ng:model="contatto.valore" required size=30> [&nbsp;<a href="" ng:click="azienda.contatti.$remove(contatto)">X</a>&nbsp;]</li></ul>
</div>
<hr>
<div><input type=submit value=Salva> [&nbsp;<a href="#/Azienda">Nuova</a>&nbsp;]</div>
</fieldset>
</form>

<table>
<caption>Aziende</caption>
<thead><tr><th>Codice<th>Nome<th>Tipo<th>Codice magazzino<th>Comune<th>Provincia<th>Nazione<th>Inattivo<th>Note
<tbody><tr ng:repeat="row in aziende.rows"><td>{{row.id | linkById }}<td>{{row.doc.nome}}<td>{{row.doc.tipo}}<td>{{row.doc.codiceMagazzino}}<td>{{row.doc.comune}}<td>{{row.doc.provincia}}<td>{{row.doc.nazione}}<td>{{row.doc.inattivo && 'X'}}<td>{{row.doc.note}}
</table>
