<form ng-submit="save()" name=cliente>
<fieldset>
<legend>Cliente di {{codiceAzienda}}</legend>
<div>
  <label>Codice: <input ng-model="_id"></label>
  <label>Nome: <input ng-model="nome" required></label><br>
  <label>Cognome: <input ng-model="cognome" required></label><br>
  <label>Indirizzo: <input ng-model="indirizzo" size=30></label><br>
  <label>Comune: <input ng-model="comune" size=30></label><br>
  <label>CAP: <input ng-model="cap" size=5 maxlength=5></label>
  <label>Provincia: <input ng-model="provincia" size=2 maxlength=2></label>
  <label>Nazione: <input ng-model="nazione" size=2 maxlength=2></label><br><br>
  <label>Codice magazzino: <input ng-model="codiceMagazzino" size=1 maxlength=1></label><br>
  <label>Note: <input ng-model="note" size=40></label><br><br>
  <label>Contatti:</label>
  [&nbsp;<a href="" ng-click="contatti.$add()">aggiungi</a>&nbsp;]
    <ul><li ng-repeat="contatto in contatti"><select ng-model="contatto.tipo"><option>Telefono<option>Fax<option>Mail</select><input ng-model="contatto.valore" required size=30> [&nbsp;<a href="" ng-click="contatti.$remove(contatto)">X</a>&nbsp;]</li></ul>
</div>
<hr>
<div><input type=submit value=Salva> [&nbsp;<a ng-href="#/Cliente_{{codiceAzienda}}">Nuovo</a>&nbsp;]</div>
</fieldset>
</form>

{{#clienti}}
<table>
{{^quanti}}<caption>Nessun cliente caricato.</caption>{{/quanti}}
{{#quanti}}<caption>Clienti ({{ quanti }} in totale). Seleziona un codice per modificare i dati.</caption>{{/quanti}}
<thead><tr><th>Codice<th>Nome<th>Cognome<th>CAP<th>Comune<th>Prov.<th>Nazione<th>ALTRO
<tbody>
{{#righe}}
  <tr><td class=n><a href="#/{{_id}}">{{codice}}</a><td>{{nome}}<td>{{cognome}}<td>{{cap}}<td>{{comune}}<td>{{provincia}}<td>{{nazione}}<td><a href="#/ordine/{{azienda}}/{{codice}}/">ORDINI</a>
{{/righe}}
</table>
{{/clienti}}
