<form name=form>
<h3>Movimento magazzino</h3>
<p>Data: <b>{{model.data}}</b>, Numero: <b>{{codes.numero}}</b>, Gruppo numerazione: <b>{{codes.gruppo}}</b>
<table>
<tr><td>Causale1: <b>{{model.causale1[0]}}</b>, Segno: <b>{{model.causale1[1]}}</b><td ng-show="model.magazzino2">Causale2: <b>{{model.causale2[0]}}</b>, Segno: <b>{{model.causale2[1]}}</b>
<tr><td>Magazzino1: <b>{{nomeMagazzino1}}</b><td ng-show="model.magazzino2">Magazzino2: <b>{{nomeMagazzino2}}</b>
</table>
<table class=details>
 <caption>Righe dettaglio</caption>
 <thead>
  <tr><th>#<th>Codice SMACT<th>Scalarino<th>Taglia<th>Descrizione<th>Costo<th>Quantità<th>ALTRO
  <tbody>
   <tr ng-repeat="row in model.rows">
    <td>{{$index + 1}}
    <td>{{row[col.barcode] | barcodeAs400}}<td>{{row[col.scalarino]}}<td>{{row[col.descrizioneTaglia]}}<td>{{row[col.descrizione]}}<td class=n>{{row[col.costo] | money}}
    <td><input ng-model="row[col.qta]" size=3 type=number min=1>
    <td>[&nbsp;<a href="" ng-click="$parent.model.rows.splice($index, 1)" title="Elimina riga">X</a>&nbsp;]
   <tr>
    <th>Nuovo:
    <td><input bq-barcode-as400 my-focus ng-model=newBarcode size=26>
    <td colspan=4>&nbsp;
    <td><input ng-model=newQta size=3 type=number min=1>
    <td>&nbsp;
  <tfoot>
   <tr><th colspan=6 style="text-align:right">Quantità totale:<th>{{qtaTotale()}}<th>&nbsp;
 </table>
 <label><input type=checkbox ng-model="model.accodato">&nbsp;Accodato</label>
<div class=control>
 <input type=submit ng-click="save()" ng-disabled="form.$invalid" value=Salva>
 [&nbsp;<a href="#/MovimentoMagazzino_">Nuovo</a>&nbsp;]
</div>
</form>
<div class=header>
 <p><a ng-click="prepareDownloads()">Prepara etichette</a>
 <object id=downloads type="application/x-shockwave-flash" data="save.swf"><param name=allowScriptAccess value=always /><param name=wmode value=opaque /></object>
</div>
