<form ng:submit="find()" name=movimentoMagazzino>
<fieldset><legend>Ricerca movimento magazzino</legend>
 <label>Causale: <select ng:model="form.causale" ng:options="causale.descrizione for causale in causali" required></select></label><br>
   <span ng:show="form.causale">Segno: <b>{{form.causale.segno}}</b>,
   Gruppo: <b>{{form.causale.gruppo}}</b></span><span ng:show="form.causale.causaleA">,
   Causale associata: <b>{{causali[form.causale.causaleA].descrizione}}</b></span><p>
 <label>Da: <select ng:model="form.da" ng:options="c as r.value for (c, r) in aziende" required><option></select></label>
 <label>Anno: <input ng:model="form.anno" size=5 maxlength=4 type=integer min=2000 max=2099 required></label>
 <label>Numero: <input ng:model="form.numero" size=7 type=integer min=0 required></label><p>
 <input type=submit value=Cerca ng:disabled="{{movimentoMagazzino.$invalid}}">
 [&nbsp;<a href="#/MovimentoMagazzino_">Nuovo</a>&nbsp;]
</fieldset>
</form>
<table summary="Lista movimenti da accodare">
 <caption>Movimenti da accodare</caption>
 <thead>
  <tr><th>#<th>Da<th>Data<th>Causale<th>Gruppo<th>Numero
  <tbody>
   <tr ng:repeat="row in pendenti.rows">
    <td><a ng:href="#/{{row.id}}">{{$index + 1}}</a>
    <td>{{nomeAzienda(row.key[0])}}
    <td>{{row.key[1]}}
    <td>{{row.key[2]}}
    <td>{{row.key[3]}}
    <td>{{row.key[4]}}
 </table>