<form ng-submit="create()" name=movimentoMagazzino>
<fieldset><legend>Nuovo movimento magazzino</legend>
<table>
<tr><td>
 <label>Causale1: <select ng-model="form.causale1" ng-options="causale.descrizione for causale in causali" required></select></label>
 <br><span ng-show="form.causale1">Segno: <b>{{form.causale1.segno}}</b>, Gruppo: <b>{{form.causale1.gruppo}}</b></span>
<td>
 <label>Magazzino1: <select ng-model="form.magazzino1" ng-options="c as r.value for (c, r) in aziende" required><option></select></label>
<tr ng-show="form.causale1.causale2 >= 0"><td>
 Causale2: <b>{{causali[form.causale1.causale2].descrizione}}</b>
 <br>Segno: <b>{{causali[form.causale1.causale2].segno}}</b>, Gruppo: <b>{{causali[form.causale1.causale2].gruppo}}</b>
<td>
 <label>Magazzino2: <select ng-model="form.magazzino2" ng-options="c as r.value for (c, r) in aziende" ng-required="{{form.causale1.causale2 >= 0}}"><option></select></label>
</table>
 <label>Data (AAAAMMGG): <input ng-model-instant ng-model="form.data" size=8 maxlength=8 bq-data required></label><p>
 <input type=submit value=Crea ng-disabled="{{movimentoMagazzino.$invalid}}">
</fieldset>
</form>
