<div class="flash">
  <ul ng:repeat="(class, messages) in flash" ng:class="class">
    <li ng:repeat="message in messages">{{message.message}}
  </ul>
</div>
<form ng:submit="filtraArticoli()" class="ricerca-articoli">
<fieldset><legend>Usa il '.' come carattere jolly.</legend>
<div>
  <label for="codice-azienda">Aziende:</label>
  <select id="codice-azienda" name=aziendeSelezionate multiple>
    <option ng:repeat="(codice, desc) in aziende" value="{{codice}}">{{desc}}
  </select><br>
  <label>Modello: <input name=modello size=5 maxlength=5 pattern="^[.\d]{0,5}$"></label>
  <label>Articolo: <input name=articolo size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Colore: <input name=colore size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Codice taglia: <input name=taglia size=2 maxlength=2 pattern="^[.\d]{0,2}$"></label>
  <label>Stagione: <input name=stagione size=3 maxlength=3 pattern="^[.\d]{0,3}$"></label>
  <hr>
  <label>LIMITE RISULTATI: <input name=limiteRisultati size=3 pattern="^\d*$"></label>
  <input type=submit value=Cerca>
</div>
</fieldset>
</form>
<table>
<caption>Giacenze</caption>
<thead>
  <tr><th>Stagione<th>Modello<th>Articolo<th>Colore<th>Codice taglia<th>Taglia<th>Quantità<th>Descrizione<th>Azienda<th>Tipo magazzino<th>Stato
<tbody>
<tbody><tr ng:repeat="row in filtrate"><td ng:repeat="v in row">{{v}}
</table>
