<form ng:submit="filtraGiacenza()" name=ricercaArticoli>
<fieldset><legend>Usa il '.' come carattere jolly.</legend>
<div>
  <label>Aziende: <select ng:model=aziendeSelezionate multiple ng:options="a as aziende[a] for a in codiciAzienda"></select></label>
  <label>Modello: <input ng:model=modello size=5 maxlength=5 pattern="^[.\d]{0,5}$"></label>
  <label>Articolo: <input ng:model=articolo size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Colore: <input ng:model=colore size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Descrizione taglia: <input ng:model=descrizioneTaglia size=3 maxlength=3 pattern="^.{0,3}$"></label>
  <label>Stagione: <input ng:model=stagione size=3 maxlength=3 pattern="^[.\d]{0,3}$"></label>
  <hr>
  <label>LIMITE RISULTATI: <input ng:model=limiteRisultati size=3 pattern="^\d*$"></label>
  <input type=submit value=Cerca>
</div>
</fieldset>
</form>
<table>
<caption>Giacenze</caption>
<thead><tr><th>Azienda<th>Descrizione<th>Stag.<th>Modello<th>Articolo<th>Colore<th>T.Mag.<th>Stato<th>Sc. {{scalarino}}<th ng:repeat="t in taglie">{{t}}<th>Qta<th>List.<th>Prezzo<th>ALTRO
<tfoot><tr><th colspan=9 style="text-align:right">Quantità totali:<th ng:repeat="totale in totaliColonna">{{totale || ''}}
<tbody><tr ng:repeat="row in filtrate"><td ng:repeat="v in row">{{v || ''}}<td><a ng:click="showPhoto(row)">Foto</a>
</table>
<div ng:show=photo ng:click="hidePhoto()" class=photo>
<table>
<caption>{{photo.descrizione}}</caption>
<tr><th>Stagione<th>Modello<th>Articolo<th>Colore 
<tr><td>{{photo.stagione}}<td>{{photo.modello}}<td>{{photo.articolo}}<td>{{photo.colore}}
</table>
<img ng:src="{{photo.img}}">
</div>