<div class="flash">
  <ul ng:repeat="(class, messages) in flash" ng:class="class">
    <li ng:repeat="message in messages">{{message.message}}
  </ul>
</div>
<form ng:submit="fetch()" class="bolla">
<fieldset><legend>Ricerca bolla AS/400</legend>
<label>Data (AAAAMMGG):<input name="intestazione.data" size=8 required value="20111024"></label>
<label>Numero:<input name="intestazione.numero" size=8 required value="31"></label>
<label>Ente numerazione:<input name="intestazione.enteNumerazione" size=2 required value="A"></label>
<label>Codice numerazione:<input name="intestazione.codiceNumerazione" size=2 required value="10"></label>
<input type=submit value=Cerca>
</fieldset>
</form>

<form ng:submit="save()">
<fieldset><legend>Dati bolla da AS/400</legend>
<table>
<thead><tr><th ng:repeat="col in bollaAs400.columnNames">{{col}}
<tbody><tr ng:repeat="row in bollaAs400.rows"><td ng:repeat="v in row">{{v}}
</table>
</fieldset>
<fieldset><legend>Dati movimento magazzino boutique</legend>
 <label>Numero bolla: <input name="movimentoMagazzino.numero" size=8 required></label>
 <label>Data bolla (AAAAMMGG): <input name="movimentoMagazzino.data" size=8 maxlength=8 required></label><p>
 <label>Origine: <select name="movimentoMagazzino.origine" ng:options="codice as desc for (codice, desc) in aziende"><option></select></label>
 <label>Destinazione: <select name="movimentoMagazzino.destinazione" ng:options="codice as desc for (codice, desc) in aziende"><option></select></label><p>
 <label>Causale: <select name="movimentoMagazzino.causale"><option ng:repeat="causa in causali" value="{{$index}}">{{causa[0]}}</select></label>&nbsp;&nbsp;Segno origine:&nbsp;"{{causali[causale][1]}}";&nbsp;&nbsp;Segno destinazione:&nbsp;"{{causali[causale][2]}}"<p>
  <input type=submit value="Carica come movimento magazzino">
</fieldset>
</form>