<form ng:submit="filtraGiacenza()" name=ricercaArticoli>
<fieldset><legend>Usa il '.' come carattere jolly.</legend>
<div>
  <label>Aziende: <select ng:model=aziendeSelezionate multiple ng:options="a as aziende[a] for a in codiciAzienda"></select></label>
  <label>Modello: <input ng:model=modello size=5 maxlength=5 pattern="^[.\d]{0,5}$"></label>
  <label>Articolo: <input ng:model=articolo size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Colore: <input ng:model=colore size=4 maxlength=4 pattern="^[.\d]{0,4}$"></label>
  <label>Descrizione taglia: <input ng:model=descrizioneTaglia size=3 maxlength=3 pattern="^.{0,3}$"></label>
  <label>Stagione: <input ng:model=stagione size=3 maxlength=3 pattern="^[.\d]{0,3}$"></label>
  <hr>
  <label>LIMITE RISULTATI: <input ng:model=limiteRisultati size=3 pattern="^\d*$"></label>
  <input type=submit value=Cerca>
</div>
</fieldset>
</form>
<table>
<caption>Giacenze</caption>
<thead><tr><th>Azienda<th>Descrizione<th>Stagione<th>Modello<th>Articolo<th>Colore<th>Tipo magazzino<th>Stato<th>Scalarino ({{scalarino}})<th ng:repeat="t in taglie">{{t}}<th>Quantità<th>Listino<th>Prezzo
<tfoot><tr><th colspan=9 style="text-align:right">Quantità totali:<td ng:repeat="totale in totaliColonna">{{totale || ''}}
<tbody><tr ng:repeat="row in filtrate"><td ng:repeat="v in row">{{v || ''}}

</table>
