/*jslint node: true */
/*jshint node: true */

exports.couchdb = {
  protocol: 'http',
  host: 'localhost',
  port: 5984,
  admin: {
    username: 'USERNAME',
    password: 'PASSWORD'
  },
  webserver: {
    route: 'boutique_app',
    host: 'localhost',
    port: 8000
  }
};
